/* Parcelas Style */

/** Log-start scale */

@color0: #fbe6c5;
@color1: #dc7176;
@color2: #70284a;

#parcelas_prod_mano {
  polygon-opacity: 0.9;  
  polygon-gamma: 0.5;    
  line-color: #fff;
  line-width: 0.25;
  line-opacity: 0.25;
  line-comp-op: hard-light;

	[tonelada>0.1]{
		polygon-fill: @color0;
		line-color: lighten(@color0,5);
       }
	[tonelada>6.706944039769164]{
		polygon-fill: @color1;
		line-color: lighten(@color1,5);
       }
	[tonelada>18.001589477081733]{
		polygon-fill: @color2;
		line-color: lighten(@color2,5);
       }
}
